<header>
    <nav class="navbar is-link">
        <div class="header">
            <%= link_to image_tag("airplane.png"), root_path %>
            <%= link_to "Odin Flight Booker", root_path, class: "h1"%>
        </div>
    </nav>
</header>